<template>  
  <div id="app">
    <Questions></Questions>
  </div>
</template>

<script>
  import Questions from './Questions.vue'
  export default {
    components: {
      Questions
    }
  }
</script>
<style>
</style>
