<template>
<div>
<q-toolbar color="primary">
  <!--
    For Toolbar title, we use
    QToolbarTitle component
  -->
  <q-toolbar-title>
    Title
  </q-toolbar-title>
  <!--
    In a Toolbar, buttons are best
    configured as "flat" and with an icon,
    but any button will do
  -->
  <q-btn @click="init" flat round small>
    <q-icon name="update" />
  </q-btn>
</q-toolbar>

<p>{{questions}}</p>

</div>
</template>

<script>
  import { Ripple, QBtn, QIcon, QToolbar, QToolbarTitle } from 'quasar'
  import api from '../index.js'
  export default {
    directives: {
      Ripple
    },
    data () {
      return {
        isLoading: false,
        title: 'Vue Question CRUD',
        search: '',
        page: 1,
        total: 0,
        selected: {},
        itensPerPage: 10,
        showModal: false,
        questions: api.get('/questions')
          .then(function (response) {
            console.log(response)
            this.response = response.data._items
            console.log(this.response)
          }.bind(this))
      }
    },
    components: {
      QBtn,
      QIcon,
      QToolbar,
      QToolbarTitle
    },
    methods: {
      init () {
        console.log('reload')
      },
      mounted () {
        this.init()
      },
      getQuestions (questionID) {
        return api.get(`/questions/${questionID}`)
      }
    }
  }
</script>
<style>
</style>
